<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect to index.html in root -->
        <rule name="Index Route" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        
        <!-- Allow direct access to HTML files -->
        <rule name="HTML Files" stopProcessing="true">
          <match url="^(index|seccion)\.html$" />
          <action type="Rewrite" url="/{R:0}" />
        </rule>
        
        <!-- Preserve query strings for seccion.html -->
        <rule name="Seccion with params" stopProcessing="true">
          <match url="^seccion\.html" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="." />
          </conditions>
          <action type="Rewrite" url="/seccion.html?{QUERY_STRING}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
